<div class="row rowstyle">
  <div class="col-lg-1 col-md-1 col-sm-3">
    <div class="leftmenubar">
      <div class="menutopdiv menuicon">
        <fa-icon [icon]="faHouse" class="icon fa-2xl"></fa-icon>
      </div>
      <div class="middlemenudiv menumiddleicon">
        <div class="mainmenustyle ">
          <fa-icon [icon]="faBuildingFlag" class="icon fa-2xl" title="Dashboard"></fa-icon>
          <!-- <span class="tooltiptext">Dashboard</span> -->
        </div>
       <div class="mainmenustyle">
        <fa-icon [icon]="faShop" class="icon fa-2xl"></fa-icon>
       </div>

       <div class="mainmenustyl  menudiv menuactive">
        <fa-icon [icon]="faGears" class="icon fa-2xl"></fa-icon>
       </div>
       <div class="mainmenustyle">
        <fa-icon [icon]="faUsersViewfinder" class="icon fa-2xl"></fa-icon>
       </div>
       <div class="mainmenustyle">
        <fa-icon [icon]="faMagnifyingGlassLocation" class="icon fa-2xl"></fa-icon>
       </div>
       <div class="mainmenustyle">
        <fa-icon [icon]="faHeadset" class="icon fa-2xl"></fa-icon>
       </div>

      </div>

      <div class="menubottomdiv menuicon">
        <fa-icon [icon]="faUnlockKeyhole" class="icon fa-2xl"></fa-icon>
      </div>
    </div>
  </div>
  <div class="col-lg-11 col-md-11 col-sm-9">

    <div class="contentbody col-lg-12 col-md-12 col-sm-12">
      <div class="col-lg-12 col-md-12 col-sm-12 contentheader">
        <div class="headermenu">


          <ul class="main-navigation">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Settings</a>
              <ul>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a>
                  <ul>
                    <li><a href="#">Resets</a></li>
                    <li><a href="#">Grids</a></li>
                    <li><a href="#">Frameworks</a></li>
                  </ul>
                </li>
                <!-- <li><a href="#">JavaScript</a>
                  <ul>
                    <li><a href="#">Ajax</a></li>
                    <li><a href="#">jQuery</a></li>
                  </ul>
                </li> -->
              </ul>
            </li>
            <li><a href="#">Reports</a>
              <!-- <ul>
                <li><a href="#">Themes</a></li>
                <li><a href="#">Plugins</a></li>
                <li><a href="#">Custom Post Types</a>
                  <ul>
                    <li><a href="#">Portfolios</a></li>
                    <li><a href="#">Testimonials</a></li>
                  </ul>
                </li>
                <li><a href="#">Options</a></li>
              </ul> -->
            </li>
            <li><a href="#">Logout</a></li>
          </ul>


        </div>
        <span class="headericon">
          <fa-icon [icon]="faHouseUser" class="icon fa-2xl"></fa-icon>
        </span>

        <span class="headericon">
          <fa-icon [icon]="faBell" class="icon fa-2xl"></fa-icon>
        </span>
      </div>
      <div class="contentmain col-lg-12 col-md-12 col-sm-12">


      </div> <!-- Content Main end tag-->
    </div>
  </div>
</div>

