<div class="col-lg-12 col-md-12 col-sm-12 contentheader" style="padding: 0px;">
  <div class="headermenu">

    <mat-toolbar style="height: 30px;">
      <span style="    padding: 20px;color: white;font-size: 20px; font-family: serif;">
        <a [routerLink]="['/coworkform']" style="color:#FFFFFF;">Home</a>
      </span>
      <span style="    padding: 20px;color: white;font-size: 20px; font-family: serif;">
        <a [routerLink]="['/coworkform']" style="color:#FFFFFF;">Property List</a>
      </span>
    </mat-toolbar>

  </div>
  <span class="headericon">
    <fa-icon [icon]="faHouseUser" class="icon fa-2xl"></fa-icon>
  </span>

  <span class="headericon">
    <fa-icon [icon]="faBell" class="icon fa-2xl"></fa-icon>
  </span>
</div>